.changePassword .profile-form-wrapper input {
	color: #c8c8c8;
	border-radius: 0px;
	height: 45px;
	background: #fff;
	-webkit-text-security: disc;
	font-size: 29px;
}
.changePassword form.password_form input {
	-webkit-text-security: unset;
	font-size: 16px;
}
