.privacy-sec {
	padding: 100px 0px;
}

.privacy-sec .heading-wrapper {
	border-bottom: 1px solid #707070;
	margin-bottom: 29px;
}

.privacy-sec .heading-wrapper h3 {
	color: #1a1a1a;
	font-size: 32px;
	padding-bottom: 23px;
}

.privacy-sec .privacy-content-wrapper p {
	color: #262626;
	font-size: 16px;
	font-family: "Poppins";
	margin-bottom: 30px;
}

/* .privacy-sec .Darktext {
	font-weight: 600;
} */
