/* shop1 css start */
section.shop-sec {
	margin-top: 80px;
}

.categories-tab ul {
	padding: 0;
}

.categories-tab ul li {
	list-style: none;
	width: 100%;
	height: 53px;
	border-top: 1px solid #a1a1a1;
	border-left: 1px solid #a1a1a1;
	border-right: 1px solid #a1a1a1;
	padding: 0 9px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.categories-tab ul li a {
	color: #131313;
	font-size: 16px;
	font-family: "poppins";
	font-weight: 400;
	text-decoration: none;
}
.border-bottom {
	border-bottom: 1px solid #a1a1a1 !important;
}
.categories-wrapper h3 {
	color: #040404;
	margin-bottom: 20px;
}
.categories-tab ul li.active {
	background-image: linear-gradient(
		to right,
		#f3d563,
		#f0dc81,
		#e6cc72,
		#dcbc5f,
		#d3ad4e,
		#cca13fe3,
		#ca9c3c,
		#cb9f40,
		#cb9f40e0,
		#cb9f40c2,
		#e1c26d,
		#e1c26d,
		#e1c26d
	);
}
.beauty-img {
	position: relative;
}
.brush-img {
	position: absolute;
	bottom: -11px;
	right: -11px;
}
.big-img img {
	height: 290px;
	object-fit: cover;
	width: 100%;
}
.img-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.img-text h3 {
	font-size: 27px;
	color: #433f40;
	margin: 0;
}
.five-star :nth-child(5) {
	color: #d2cbcd !important;
}
.five-star i {
	margin: 0 3px;
	font-size: 16px;
	color: #433f40;
}
.beauty-img-wrapper {
	margin-top: 0px;
	margin-left: 20px;
}
.pagination-wrapper .pagination .page-item1 a {
	color: #fff;
	background-color: #040404;
}
.pagination-wrapper .pagination .page-item a {
	border: none;
	font-size: 17px;
	font-family: "roboto";
	font-weight: 400;
	color: #909298;
}

.pagination-wrapper .pagination .page-item a.page-link.active {
	background-color: transparent;
	border: 1px solid #040404;
	padding: 7px 12px;
	margin-top: 1px;
}
.pagination-wrapper .pagination .page-item {
	margin: 0px 8px;
}
.pagination-wrapper {
	float: right;
	margin: 30px 0px;
}
/* shop1 css end */

/* shop2 css start */
section.product-sec {
	margin-top: 160px;
	margin-bottom: 90px;
}
.btn2 {
	background-image: linear-gradient(
		to right,
		#fbc926,
		#f9cc3a,
		#f7cf4a,
		#f5d258,
		#f3d566,
		#efd166,
		#eacc65,
		#e6c865,
		#debb58,
		#d6af4c,
		#cea23f,
		#c69633
	);
	padding: 16px 57px;
	border-radius: 0px;
	color: #0c0200;
	font-weight: 500;
}
.btn3 {
	border: 1px solid #0c0200;
	padding: 14px 0px;
	border-radius: 0px;
	color: #0c0200;
	font-weight: 500;
	width: 39%;
	margin-right: 16px;
	text-align: center;
}
.product-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-text p {
	margin: 0;
	font-family: "Poppins";
	font-size: 18px;
	line-height: 1.5;
	font-weight: 500;
	color: #c59531;
}
.product-text p span {
	margin: 0;
	font-family: "Poppins";
	font-size: 18px;
	line-height: 1.5;
	font-weight: 600;
	color: #0c0200;
	margin-left: 20px;
}
.product-text i {
	font-size: 33px;
	color: #c59531;
}

.product-name h4 {
	font-family: "Poppins";
	font-size: 22px;
	line-height: 1.5;
	font-weight: 600;
	color: #0c0200;
}
.product-name .five-star {
}
.product-name .five-star i {
	font-size: 18px;
	color: #c59531;
}
.product-name .five-star :nth-child(5) {
	font-size: 18px;
	color: #c59531 !important;
}
.product-name {
	border-bottom: 1px solid #a4a4a4;
	padding-bottom: 30px;
}
/* shop2 css end */
